@model List<TestGenerator.DAL.Models.Question>
@{
  ViewData["Title"] = "Index without pagination";
  var i = 0;
}

<h1>Create Test From Questions</h1>

<form asp-action="CreateManualTestBySelectingQuestions" asp-controller="Question" method="post">
  @if (TempData.ContainsKey("ErrorMessage"))
  {
    <div class="alert alert-danger mt-3">@TempData["ErrorMessage"]</div>
  }

  <div class="form-floating mb-3 col-sm-6">
    <input name="name" id="name" class="form-control" placeholder="Name" required/>
    <label for="name">Name</label>
  </div>
  <div class="form-floating mb-3 col-sm-6">
    <input name="description" id="description" class="form-control" placeholder="Description" placeholder="Description" required/>
    <label for="description">Description</label>
  </div>

  <h3 class="my-3 text-decoration-underline">Questions:</h3>

  @if (Model.Count > 0)
  {
    <table class="table">
      <thead>
      <tr>
        <th>Nr.</th>
        <th>Add</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var question in Model)
      {
        <tr>
          <td>@(++i)</td>
          <td>
            <input type="checkbox" name="selectedQuestionIds" value="@question.QuestionId"/>
          </td>
          <td>@question.QuestionText</td>
        </tr>
      }
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-secondary" href="@Url.Action("Index")">Back</a>
  }
  else
  {
    <p>No questions found.</p>
    <a class="btn btn-secondary" href="@Url.Action("Index")">Back</a>
  }
</form>