@model List<TestGenerator.DAL.Models.Question>
@{
    ViewData["Title"] = "Index";
    var i = 0;
}

<div class="container-fluid my-3">
  <div class="row">
    <div class="col-6 d-flex align-items-center justify-content-center">
      <h1>Questions</h1>
    </div>
    <div class="col-6 text-center">
      <img src="~/images/questions.svg" class="rounded img-fluid mx-auto d-block" height="300" width="300" alt="..." />
    </div>
  </div>
</div>

<section class="d-flex flex-column align-items-center justify-content-center bg-light p-2 rounded-3">
  <div class="navbar navbar-light bg-light p-2 w-75">
    <div class="container-fluid d-flex flex-column flex-md-row">
      <ul class="flex-row col-md-auto navbar-nav flex-grow-1 order-1">
        <li class="nav-item">
          <a class="btn btn-primary" asp-action="Add" asp-controller="Question" role="button" data-toggle="tooltip" data-placement="top" title="Create Question">Q</a>
        </li>
        <li class="nav-item mx-3">
          <a class="btn btn-primary" asp-action="CreateManualTestBySelectingQuestions" asp-controller="Question" role="button" data-toggle="tooltip" data-placement="top" title="Create Manual Test from Questions">M</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" asp-action="CreateTestAutomatically" asp-controller="Question" role="button" data-toggle="tooltip" data-placement="top" title="Create Automated Test from Randomized Questions">A</a>
        </li>
      </ul>
      <form class="d-flex order-3 order-md-2" asp-action="Index" method="get">
        <input type="hidden" name="pageSize" value="@ViewData["PageSize"]" />
        <input class="form-control me-2" type="search" name="searchString" placeholder="Search by name..." value="@ViewData["CurrentFilter"]"/>
        <button class="btn btn-success" type="submit">Search</button>
      </form>
      <div class="col-md-auto order-2 order-md-3">
        <a class="btn btn-secondary m-2" asp-route-pageSize="@ViewData["PageSize"]" asp-action="Index" role="button">Reset Search</a>
      </div>
    </div>
  </div>

  @if (Model.Count > 0)
  {
    <table class="table w-75">
        <thead>
        <tr>
          <th>Nr.</th>
          <th>
            <a asp-action="Index" 
               asp-route-sortOrder="@ViewData["NameSortParam"]" 
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-pageSize="@ViewData["PageSize"]">Name</a>
            @switch ((string)ViewData["NameSortParam"])
            {
              case "":
                <i class="bi bi-sort-alpha-down-alt"></i>
                break;
              case "name_desc":
                <i class="bi bi-sort-alpha-down"></i>
                break;
            }
          </th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var question in Model)
        {
            <tr>
              <td>@(++i).</td>
              <td>
              <span class="d-inline-block popup" tabindex="0" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-toggle="popover" data-bs-content="@question.QuestionText">
                <a class="text-dark text-truncate" style="max-width: 200px;" asp-action="Details" asp-route-id="@question.QuestionId">@Html.DisplayFor(modelItem => question.QuestionText)</a>
                </span>
              </td>
            <td class="text-center">
              <a asp-action="Details" asp-route-id="@question.QuestionId" class="lock text-dark me-2" data-toggle="tooltip" data-placement="top" title="Details">
                  <i class="bi bi-info-circle icon-unlock"></i>
                  <i class="bi bi-info-circle-fill icon-lock"></i>
                </a>
              <a asp-action="Edit" asp-route-id="@question.QuestionId" class="lock text-dark me-2" data-toggle="tooltip" data-placement="top" title="Edit">
                <i class="bi bi-pencil icon-unlock"></i>
                <i class="bi bi-pencil-fill icon-lock"></i>
              </a>
              @if (question.TestId != null)
              {
                <span data-toggle="tooltip" data-placement="top"  class="me-2 disabled" title="Not able to delete because the question belongs to a test">
                    <i class="bi bi-question-lg icon-unlock"></i>
                  </span>
              }
              else
              {
                  <a asp-action="Delete" asp-route-id="@question.QuestionId" class="lock text-dark me-2" style="cursor: pointer" title="Delete">
                    <i class="bi bi-trash icon-unlock"></i>
                    <i class="bi bi-trash-fill icon-lock"></i>
                  </a>
              }
            </td>
            </tr>
        }
        </tbody>
      </table>
  }
  else
  {
    <p class="text-center">No results found!</p>
  }
  
  <partial name="_ItemsPerPagePartial" />
  <partial name="_PaginationPartial" />
</section>